= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.fields_for :profile_pic do |b|
      = image_tag @user.profile_pic.url, id: "profile_picture" unless @user.profile_pic.id.nil?
      %br
      = b.label :url, "Profile Picture"
      = b.file_field :url
  .field
    = f.label :first_name
    = f.text_field :first_name, palaceholder:"First Name"

  .field
    = f.label :last_name
    = f.text_field :last_name, palaceholder:"Last Name"

  .field
    = f.label :description
    = f.text_area :description, palaceholder:"Description"

  .field
    = f.label :male, "Gender"
    = f.select :male, options_for_select([["Male", "1"], ["Female", "0"]])


  .field
    = label_tag :interested_in_male, "Interested in:"
    = f.radio_button :interested_in_male, 1, checked: @user.interested_in_male?
    Male
    = f.radio_button :interested_in_male, 0, checked: !@user.interested_in_male?
    Female

  .actions
    %br
    = f.submit 'Save', class: "btn btn-success"
