.container
  .row
    .span12
      %h1 
        Profile of: 
        = @user.first_name.nil? ? @user.username : @user.first_name 

  .row
    .span6
      - if @user.profile_pic.nil?  
        = image_tag "default.jpeg" 
      - else
        = image_tag @user.profile_pic.url.thumb
      %br
      
      %strong Name:
      = @user.username
      %br

      %strong First Name:
      = @user.first_name unless @user.first_name.nil?
      %br

      %strong Last Name:
      = @user.last_name unless @user.last_name.nil?
      %br

      %strong Gender:
      = @user.male? ? "Male" : "Female"
      %br

      %strong Interested In:
      = @user.interested_in_male? ? "Male" : "Female"
      %br

      %strong Description:
      = @user.description


      %br
      = link_to "Edit My Profile", edit_user_path(@user) if can? :edit, @user 

      %br
      = link_to "Next Random match", match_path, class:"btn btn-success" unless can? :edit, @user

    .span6 
      /Dont know why I need an and word here instead of && 
      = render partial:"messages/form" if (can? :create, Message and @user != current_user) 

      %h3 Poke history
      = link_to "Poke", new_poke_path(@user.id), method: :post if (can? :create, @poke)
      %p
        Poked a total of 
        = @user.pokes.count
        times
        %br
        - if @user == current_user && @user.paid
          - @user.new_pokes.each do |poke|
            = poke.poker.username 
            = link_to "Poke back", poke_back_path(poke.poker), method: :post 
            %br
        - elsif @user == current_user
          = link_to "Subscribe", new_subscription_path 
          to see who poked you 

        - if @user.poke_history.length > 0
          %div#graph{"data-poke" => "#{@user.poke_history.to_json}" }
        
    .row
      .span12
        %hr 
        %p Find me in app/views/users/show.html.haml


    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"}
    %script{:src => "http://cdn.oesmith.co.uk/morris-0.4.3.min.js"}


    :javascript
      var data = $("#graph").data("poke") 
      Morris.Line({
        parseTime: true,
        element: 'graph',
        data: data,
        xkey: 'time',
        ykeys: ['count'],
        labels: ['Pokes']
      });
